@import url("reset.css");

body {
  width: 90%;
  margin: auto;
}

.gridcontainer {
  display: grid;
  grid-template-rows: auto 60px 100px;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 10px;
  justify-content: start;
}

.gitem {
  display: grid;
  background-color: beige;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.gitem:nth-child(even) {
  text-align: center;
}

.one {
  background-color: rgba(249, 170, 170, 0.5);
}

.two {
  background-color: rgba(186, 251, 186, 0.5);
}

.three {
  background-color: rgba(124, 124, 254, 0.5);
  color: ivory;
}

.four {
  background-color: rgba(255, 91, 91, 0.5);
}

.five {
  background-color: rgba(148, 34, 255, 0.5);
}

.six {
  background-color: rgba(0, 0, 0, 0.5);
  color: ivory;
}

.seven {
  background-color: rgba(255, 34, 237, 0.5);
}

.eight {
  background-color: rgba(29, 0, 123, 0.5);
  color: ivory;
}

.nine {
  background-color: rgba(10, 61, 0, 0.5);
  color: ivory;
}

.ten {
  font-weight: bold;
}

.eleven {
  text-transform: uppercase;
}

.twelve {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}